@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;

}

body {
    margin: 0;
    padding: 0;
    color: #333;
}


/*--------------------------------------------------------*/
section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.location{
    width: 1200px;
    position: absolute;
    top: 23%;
    left: 50%;
    line-height: 70px;
    transform: translate(-50%, -50%);
}
.location h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.map{
    margin: auto;
    margin-top: 280px;
    align-content: center;
}
.map iframe{
    margin-bottom: 20px;
    width: 800px;
    height: 350px;
}
.map_address p{
    text-align: center;
    width: 170px;
}
.map_address{
    width: 500px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%);
}
.map_address img{
    width: 40px;
    height: 40px;
}
.address{
    width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.address hr{
    color: #cfcfcf;
}
/*-------------------------------------------------------*/
