/*--------------------------------------------------------*/
body {
    margin: 0;
    padding: 0;
}

section {
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
    box-sizing: border-box;
}

.sec1 {
    position: absolute;
    display: flex;
    width: 1300px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.sec1 > .parking1 img {
    position: relative;
    height: 450px;
    width: 450px;
    z-index: -99;
}

.sec1 > .me1 {
    padding-top: 100px;
    padding-right: 60px;
    z-index: -99;
}

.me1 h2 {
    font-size: 40px;
}

section .sec2 {
    width: 100%;
}

.sec2 .me2 {
    justify-content: space-between;
    text-align: center;
    display: flex;
    font-size: 20px;
    position: absolute;
    width: 1100px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.me2 h3 {
    font-size: 27px;
}

.me2 img {
    width: 200px;
    height: 200px;
    margin: 40px;
    opacity: 0;
}

section .sec3 {
    width: 100%;
}

.sec3 .me3 {
    justify-content: space-between;
    text-align: center;
    display: flex;
    font-size: 20px;
    position: absolute;
    width: 1300px;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.me3 img {
    width: 500px;
    height: 500px;
    opacity: 0;
    max-width: 100%;
}

.me3 .p3 {
    position: absolute;
    left: 50%;
    top: 35%;
}

section .moveTopBtn {
    position: fixed;
    display: inline;
    width: 80px;
    height: 80px;
    opacity: 0;
    transition: 0.7s ease;
    left: 50%;
    bottom: 30%;
    z-index: 99;
}

section .moveTopBtn.on {
    opacity: 1;
    cursor: pointer;
    bottom: 0;
}

section .moveTopBtn.onn {
    position: absolute;
    /* bottom: 350px; */
    /* z-index: 99; */
    /* bottom: -120px; */
    top: 105%;
}

/*-------------------------------------------------------*/

.chatbot {
    position: fixed;
    top: 1000px;
    bottom: 500px;
}