<link rel="stylesheet" th:href="@{/css/header.css}">

<div style="position: absolute">
    <div class="container"></div>
</div>
    <header id="header">
        <h1 class="logo"><a th:href="@{/index}"><img src="/image/allparking_logo.png" alt=""></a></h1>
        <ul class="menu">
            <li class="font"><a href="/">서비스소개</a>
                <ol class="sub">
                    <li><a href="/me">개요</a></li>
                    <li><a href="/team">팀원소개</a></li>
                    <li><a href="/location">오시는길</a></li>
                </ol>
            </li>
            <li class="font"><a href="#">주차장검색</a>
                <ol class="sub">
                    <li><a href="map.html">공영주차장</a></li>
                    <li><a href="#">민영주차장</a></li>
                    <li><a href="#">무료주차장</a></li>
                </ol>
            </li>
            <li class="font"><a href="">충전하기</a>
                <ol class="sub">
                    <li><a href="#">충전하기</a></li>
                    <li><a href="#">충전내역</a></li>
                </ol>
            </li>
            <li class="font"><a href="/info/paging">고객지원</a>
                <ol class="sub">
                    <li><a href="/info/paging">공지사항</a></li>
                    <li><a href="/board/paging">게시판</a></li>
                </ol>
            </li>
        </ul>
        <p>[[${id}]]asdasd</p>
        <p>[[${role}]]asdasd</p>
        <ul class="sign">
            <li sec:authorize="isAuthenticated()"><a href="/logout">로그아웃</a></li>
            <li sec:authorize="isAuthenticated()"><a href="/member/update">회원정보수정</a></li>

            <li sec:authorize="!isAuthenticated()"><a href="/member/login">로그인</a></li>
            <li sec:authorize="!isAuthenticated()"><a href="/member/join">회원가입</a></li>
        </ul>
    </header>
