<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 제이쿼리 불러오기 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/join.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <script th:src="@{/js/header.js}"></script>
    <title>ALL PARKING
    </title>
</head>

<body>
<div class="container"></div>
<header th:insert="header :: header"></header>
<section>
    <form class="join" action="/member/joinProc" method="post">
        <h2>ALL PARKING</h2>
        <div class="basic">
            <h3>기본정보</h3>
            <div class="id">
                <p>아이디</p>
                <input type="text" class="text" name="username" id="username">
<!--                onblur="idCheck()"-->

                <span id="check-result"></span>
                <!--                    <input type="button" class="bt" name="중복확인" value="중복확인">-->
            </div>
            <div class="pw">
                <p>비밀번호</p>
                <input type="password" class="text" name="password" id="password">
            </div>
            <div class="pw1">
                <p>비밀번호 확인</p>
                <input type="password" class="text">
            </div>
            <div class="name">
                <p>이름</p>
                <input type="text" class="text" name="name" id="name">
            </div>
            <div class="number">
                <p>휴대전화</p>
                <input type="tel" class="text" name="phone" id="phone">
            </div>
            <div class="mail">
                <p>이메일</p>
                <input type="email" class="text" name="useremail" id="useremail">
                <input type="button" class="bt" name="본인인증" value="본인인증">
            </div>
            <h3>차량정보</h3>
            <div class="carinfo">
                <p>차량번호</p>
                <input type="text" class="text" name="carNum" id="carNum">
                <input type="button" class="bt" name="등록하기" value="등록하기">
            </div>
            <h3>약관동의</h3>
            <p class="check"><input type="checkbox">&nbsp;&nbsp;이용약관 및 개인정보수집 및 이용 수신(선택)에 모두 동의합니다.</p>
            <div class="bt1">
                <input type="submit" class="submit" name="회원가입" value="회원가입">
                <input type="button" class="submit" name="취소" value="취소">
            </div>
        </div>
    </form>
</section>
<footer th:include="footer :: footer"></footer>
</body>
<script th:inline="javascript">
    const idCheck = () => {
        const id = document.getElementById("memberId").value;
        const checkResult = document.getElementById("check-result");
        console.log("입력값: " + id);
        $.ajax({
            //요청방식 post ,url: "email-check",데이터:이메일
            type: "post",
            url: "/member/id-check",
            data: {
                "memberId": id
            },
            success: function (res) {
                console.log("요청성공", res)
                if (res == "ok") {
                    console.log("사용가능한 아이디 입니다.");
                    checkResult.style.color = "green";
                    checkResult.innerHTML = "사용가능한 아이디 입니다."
                } else {
                    console.log("이미 사용중인 아이디 입니다.");
                    checkResult.style.color = "red";
                    checkResult.innerHTML = "이미 사용중인 아이디 입니다."
                }

            },
            error: function (err) {
                console.log("에러발생", err);
            }

        });

    }
    const check_save=()=>{
        const username=document.getElementById("username").value;
        const password=document.getElementById("password").value;
        const name=document.getElementById("name").value;
        const useremail=document.getElementById("useremail").value;
        const phone=document.getElementById("phone").value;
        const carNum=document.getElementById("carNum").value;

        $.ajax({
            type:"post",
            url:"/member/saveProc",
            data:{
                username:username,
                password:password,
                name:name,
                useremail:useremail,
                phone:phone,
                carNum:carNum
            },
            dataType:"text",
            success:function (ck){
                console.log(ck)
                if(ck==='save_success'){
                    alert("회원가입 실패")
                    location.href="/member/join"

                }else {
                    alert("회원가입 축하")
                    location.href="/member/login"

                }
            },
            error:function (ck){
                console.log(ck);
            }
        })

    }
</script>
</script>
</html>